$primaryColor: #1B8DEF;

button{
    font-size: 14px;
}
button[role=button],
span[role=button]{
    cursor: pointer;
    border: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.primary-button{
    background: $primaryColor;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    width: 100%;
}
.cancel-button:hover::before,
.primary-button:hover::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background: #fff;
    cursor: pointer;
}
.cancel-button{
    position: relative;
    border-radius: 5px;
    border: 1px solid #{$primaryColor} !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    width: 100%;
}
.tab-button{
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    color: inherit;
}
.tab{
    flex: 1;
    color: #ccc;
    border-bottom: 1px solid #ccc;
}
.tab-clicked{
    flex: 1;
    color: $primaryColor;
    border-bottom: 1px solid #{$primaryColor};
}
.href-button{
    color: $primaryColor;
    width: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.paging-button{
    padding: 10px;
    position: relative;
}
.paging-button:hover{
    background: rgba(70, 70, 70, 0.09);
    
}
.paging-button:hover::after{
    display: inherit;
}

.paging-button::after{
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    width: 100%;
    color: #fff;
    background: rgba(70, 70, 70, 0.5);
    font-size: 12px;
    display: none;
}
