.apply-select{
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 40px;
}
.search-select{
    background: none;
    border: none;
    width: 100%;
    font-size: 14px;
    height: 100%;
}