.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-main{
    width: 320px;
    /*height: 320px;*/
    z-index: 100;
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.calendar-title{
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    position: relative;
}
.year-prev{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #ffffff;
}
.year-next{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    background-color: #ffffff;
}
.calendar-title-inner{
    height: 48px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    user-select: none;
    transition: all .2s ease-in-out;
}
.calendar-title-inner-btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 25px;
    height: 38px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
.date-btn:hover{
    color: #009aff;
    background-color: rgba(0, 154, 255, .1);
}
.date-btn:active{
    color: #009aff;
    background-color: rgba(0, 154, 255, .4);
}
.calendar-title-inner-date{
    color: #777777;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
}
.calendar-title-inner-date:hover{
    color: #009aff;
}
.calendar-title-inner:hover{

}

.calendar-content{
    padding: 10px;
}
.calendar-content-week-list{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.week-inner{
    height: 36px;
    min-width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.calendar-content-date-list{
    /*height: 196px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.not-current-month{
    height: 36px;
    min-width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #cccccc;
    user-select: none;
}
.date-inner{
    height: 36px;
    min-width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
}
.date-inner:hover{
    border-radius: 4px;
    color: #009aff;
    background-color: rgba(0, 154, 255, .1);
}
.date-inner:active{
    border-radius: 4px;
    color: #009aff;
    background-color: rgba(0, 154, 255, .4);
}
.in-date-inner{
    border-radius: 4px;
    color: #7f00ff;
    background-color: rgba(127, 0, 255, 0.1);
}
.today-date-inner{
    border-radius: 4px;
    color: #009aff;
    background-color: rgba(0, 154, 255, .1);
}

.calendar-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eeeeee;
}
.calendar-footer-inner{
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
}
.calendar-footer-inner p{
    cursor: pointer;
    user-select: none;
}

.month-select{
    height: 270px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
.month-select-ul{
    width: 100%;
    height: 67.5px;
    flex-flow: wrap;
}
.month-select-ul li{
    height: 67.5px;
    width: 33%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;
}
.month-select-ul li:hover{
    border-radius: 4px;
    color: #009aff;
    background-color: rgba(0, 154, 255, .1);
}
.year-select{
    height: 270px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
.year-select-ul{
    width: 100%;
    height: 90px;
    flex-flow: wrap;
}
.year-select-ul li{
    height: 90px;
    width: 33%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;
}
.year-select-ul li:hover{
    border-radius: 4px;
    color: #009aff;
    background-color: rgba(0, 154, 255, .1);
}
.footer-close{
    transition: all .2s ease-in-out;
    color: #ff3d24;
}
.footer-close:hover{
    background-color: rgba(255, 61, 36, .1);
}
.footer-today{
    transition: all .2s ease-in-out;
    color: #009aff;
}
.footer-today:hover{
    /*background-color: rgba(98, 0, 238, .1);*/
}
.footer-confirm{
    transition: all .2s ease-in-out;
    color: #6200EE;
}
.footer-confirm:hover{
    /*background-color: rgba(0, 154, 255, .1);*/
}
.zIndex100{
    z-index: 100;
}