*{
    padding: 0;
    margin: 0;
    *zoom: 1;
    color: #333;
    box-sizing: border-box;
}
.section, .section *{
    display: flex;
    flex-basis: content;
    flex-direction: column;
}
.input:disabled {
    background-color: #FFF;
}
.intro-ul{
    margin: 10px;
    width: 90%;
    max-width: 320px;
    margin: auto;
    height: 60%;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
}
.intro-ul::before{
    content: '';
    width: 6px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 15px;
    z-index: -1;
    background: rgb(255, 222, 0);
}
.z-index-1{
    z-index: 1;
}
.z-index-100{
    z-index: 100;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}
@media print{
    .print-none{
        display: none
    }
}
.font-omit{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}